[run]
omit=*/__init__.py
     mlfinlab/tests/*
     scripts/*
     /opt/conda/*
     # Ensure we exclude any files in .local
     */.local/*
branch=True

# This config option is in v4.0a5 only supported on the command line
concurrency=multiprocessing

[report]
partial_branches=True
show_missing=True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    @abc.abstractmethod
    @abc.abstractproperty
    def _dependencies(self):

[html]
directory=cover

[xml]

