[run]
omit=*__init__*
     mlfinlab/tests/*
     mlfinlab/util/multiprocess.py
     mlfinlab/labeling/tail_sets.py
     scripts/*
     /opt/conda/*
     */home/travis/virtualenv/python3.7.1/lib/python3.7/site-packages/xmlrunner/*
     */home/travis/virtualenv/python3.7.1/lib/python3.7/site-packages/*
     # Ensure we exclude any files in .local
     */.local/*
branch=True

[report]
partial_branches=True
show_missing=True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    @abc.abstractmethod
    @abc.abstractproperty
    def _dependencies(self):

[html]
directory=cover

[xml]
