# Compiled files
__pycache__/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Test / coverage report
test_reports
.coverage
cover/

# OSX files
*.DS_Store

# Project configuration
.idea/*
.vscode

# Project extensions
!.gitignore
*.bak

# Docs
docs/build/

# Project specific
.local/
