# Production
numpy>=0.16.0
matplotlib>=3.0.0
pandas>=1.0.0
scikit-learn>=0.20.0
scipy>=1.2.0
statsmodels>=0.9.0
cython>=0.29
POT>=0.7.0
numba>=0.40.0
networkx>=2.2, <2.6
dash>=1.0.0
dash-cytoscape>=0.1.0
dash-bootstrap-components>=0.10.0
jupyter-dash>=0.2.0
tensorflow>=2.0.0
joblib>=1.0.0
decorator>=4.0.0, <5.0.0
analytics-python>=1.2.7
getmac>=0.8.0


# Develop
codecov==2.1.11
coverage==5.4
pylint==2.6.0
sphinx==3.4.3 # Docs
hudsonthames-sphinx-theme==0.1.5 # Docs
sphinx-rtd-theme==0.5.2 # Docs
releases==1.6.3 # Docs
