# Production
numpy==1.18.5
matplotlib==3.2.2
pandas==1.1.5
scikit-learn==0.24.1
scipy==1.6.0
statsmodels==0.12.2
cython==0.29.17
POT==0.7.0
numba==0.52.0
networkx==2.5
dash==1.19.0
dash-cytoscape==0.2.0
dash-bootstrap-components==0.11.3
jupyter-dash==0.4.0
tensorflow==2.2.1
joblib==1.0.1
analytics-python==1.2.9
getmac==0.8.2


# Develop
bump2version==1.0.1
bumpversion==0.6.0
codecov==2.1.11
coverage==5.4
pylint==2.6.0
sphinx==3.4.3 # Docs
sphinx-rtd-theme==0.5.1 # Docs
releases==1.6.3 # Docs
